/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-card: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.border--shadow {
    filter: var(--filter-card);
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit; /* Hérite de la couleur du parent */
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.neutral-star {
    color: var(--main-bg-color)
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-22 {
    font-size: 22px;
}

.bold, .euro {
    font-weight: 700;
}

/****** HEADER ******/

.main-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 79px;
    font-size: 16px;
}

.header-logo {
    padding: 0;
    margin: 0px;
}

.header-logo img {
    height: 19px;
}

.header-nav {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-nav ul {
    width: 244px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.header-nav li {
    padding: 0.9em 0em 0.5em 0em;
    border-top: 2px solid transparent;
}


.header-nav ul li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/****** ARTICLE RECHERCHE *******/

.article-recherche-main-h1 {
    margin: 0 0 5px 0;
    padding: 0;
}

.article-recherche-main-p {
    margin: 0;
    padding: 0;
}

.section-recherche {
    max-width: 377px;
    height: 49px;
    margin: 35px 0 35px 0;
    display: grid;
    grid-template-columns: 50px 1fr 132px;
    height: 49px;
}

.section-recherche-icon {
    margin: 0;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    color: black !important;
    line-height: 49px;
}

.section-recherche-search {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    padding-right: 0.5em;
    text-overflow: ellipsis;
}

.section-recherche-button {
    background-color: #0065FC;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
}

.section-recherche-button-mobile {
    display: none;
    border-radius: 0px 15px 15px 0px;
}

.section-filtre {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-filtre-noborder {
    border: none;
    margin: 0;
}

.section-filtre-border span {
    margin-right: .5em;
}

.section-filtre-border {
    height: 42px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    line-height: 42px;
    margin: 0;
    padding: 2px 19px 2px 19px;
}

.section-filtre-border:hover {
    background-color: #DEEBFF;
}

.section-filtre-card {
    display: flex;
    gap: min(5px) max(1em);
}

.section-information {
    display: flex;
    align-items: center;
    margin: 35px 0 35px 0;
}

.icon-information {
    width: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: 0;
}

.text-information {
    width: 100%;
    margin: 0;
    margin-left: 10px;
}

.icon-information span {
    font-size: 12px;
}

/***** ARTICLE HEBERGEMENT ET POPULAIRE *****/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/***** SECTION HEBERGEMENT *****/

.hebergements {
    width: 65%;
}

.section-hebergement-group-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.section-hebergement-card {
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px 20px;
}

.section-hebergement-card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.section-hebergement-card h3, .section-hebergement-card p {
    margin: 0;
    padding: 4px 15px 4px 15px;
}

.afficher-plus {
    margin-top: 30px;
}

/***** SECTION POPULAIRE *****/

.populaires {
    width: 32%;
}

/* Aligner l'icone */
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** ARTICLE ACTIVITE *****/

.activites   {
    padding: 30px;
}

.section-activites-titre h2 {
    margin: 0;
}

.activites-card h3 {
    margin: 0;
}

.activites-groupe-card {
    display: grid;
    margin-top: 30px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.activites-card-titre {
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.activites-card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.activites-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.activites-card-img {
    height: 380px;
    margin: 0;
}

/***** FOOTER *****/

footer {
    padding: 20px;
    display: flex;
    gap: 15%;
    background-color: var(--main-bg-color);
}

footer h3 {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .section-hebergement-card {
        height: auto;
    }

    .section-hebergement-card img {
        height: 124px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card-img {
        height: 13em;
        margin: 0;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .main-container {
        padding: 0;
    }

    /***** HEADER *****/

    .main-header-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-logo {
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo img {
        width: 60px;
        height: 19px;
    }

    .header-nav {
        display: block;
    }

    .header-nav ul {
        width: 100%;
        gap: 0;
    }

    .header-nav li {
        width: 50%;
        padding: 0 0 17px 0;
        text-align: center;
    }

    .header-nav ul li:hover {
        border-top: 2px solid transparent;
    }

    .header-nav-hebergement, .header-nav-activites  {
        border-bottom: 2px solid var(--main-bg-color);
        color: var(--main-color);
    }

    .header-nav-hebergement:hover, .header-nav-activites:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    /****** ARTICLE RECHERCHE *******/

    .article-recherche-main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article-recherche-main-h1 {
        margin: 0 0 8px 0;
        font-size: 22px;
    }

    .article-recherche-main-p {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .section-recherche {
        max-width: 335px;
        grid-template-columns: 50px 1fr 50px;
        gap: 0;
    }

    .section-recherche-search {
        min-width: 100px;
    }

    .section-recherche-button {
        display: none;
    }

    .section-recherche-button-mobile {
        display: block;
        background-color: var(--main-color);
        border: none;
        border-radius: 15px 15px 15px 15px;
        font-size: 17px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .section-recherche-button-mobile span {
        color: white !important;
    }

    .section-filtre-noborder {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .section-filtre-border:hover {
        background-color: #DEEBFF;
    }

    .section-filtre-border {
        padding: 0;
        height: 50px;
        line-height: 50px;
    }

    .section-information {
        display: flex;
        flex-direction: row;
        margin: 35px 0 35px 0;
    }

    .section-filtre {
        flex-direction: column;
        align-items: normal;
    }

    .section-filtre-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
    }

    /***** HEBERGEMENTS ET POPULAIRES *****/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin: 0;
        border-radius: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-title span {
        font-size: 18px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements {
        width: 100%;
        background-color: white;
        border-radius: 0px;
    }

    .section-hebergement-group-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-hebergement-card {
        height: 205px;
    }

    .afficher-plus {
        margin-top: 20px;
    }

    /***** ARTICLE ACTIVITE *****/

    .activites {
        padding: 20px;
    }

    .activites-titre h2 {
        margin-top: 30px;
        font-size: 22px;
    }

    .activites-groupe-card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }

    .activites-card {
        width: 100%;
    }

    .activites-card-img {
        height: 140px
    }

    /***** FOOTER *****/

    footer {
        margin-top: 40px;
        padding: 30px 20px 30px 20px;
        flex-direction: column;
        gap: 45px;
    }

}