/****** HEADER ******/

.main-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 79px;
    font-size: 16px;
}

.header-logo {
    padding: 0;
    margin: 0px;
}

.header-logo img {
    height: 19px;
}

.header-nav {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-nav ul {
    width: 244px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.header-nav li {
    padding: 0.9em 0em 0.5em 0em;
    border-top: 2px solid transparent;
}


.header-nav ul li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/****** ARTICLE RECHERCHE *******/

.article-recherche-main {

}

.article-recherche-main-h1 {
    margin: 0 0 0.3em 0;
    padding: 0;
    font-size: 1.3em;
}

.article-recherche-main-p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.section-recherche {
    margin: 35px 0 35px 0;
    display: grid;
    grid-template-columns: 50px 1fr 49px;
    height: 49px;
}

.section-recherche-icon {
    margin: 0;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    color: black !important;
    line-height: 50px;
}

.section-recherche-search {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 100%;
}

.section-recherche-button {
    background-color: #0065FC;
    border-style: none;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    font-size: .9em;
    padding: 0.9em;
    margin: 0;
}

.section-recherche-button-mobile {
    display: none;
    border-radius: 0px 15px 15px 0px;
}

.section-filtre {
    display: flex;
}

.section-filtre-noborder {
    border: none;
    font-weight: 700;
    margin: 0;
}

.section-filtre-border span {
    margin-right: .5em;
}

.section-filtre-border {
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    margin: 0;
}

.section-filtre-border:hover {
    background-color: #DEEBFF;
}

.section-filtre-card {
    display: flex;
    gap: min(5px) max(1em);
}

.icon-information {
    width: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: 0;
}

.text-information {
    width: 100%;
    margin: 0;
    margin-left: 10px;
}

.icon-information span {
    font-size: 12px;
}



/****** SECTION HEBERGEMENT ******/

.section-hebergement {

}

.section-hebergement-group-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.section-hebergement-card {
    height: 12em;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.section-hebergement-card p span {
    margin-right: -3px;
}

.section-hebergement-titre h2 {
    font-size: 22px;
    margin: 15px 0px 15px 0px;
}

.section-hebergement-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.section-hebergement-card h3 {
    margin: 0 0 0.2em 0;
    padding: 0em 0em 0.2em 1em;
    font-size: 0.9em;
}

.section-hebergement-card p {
    margin: 0 0 0.2em 0;
    padding: 0em 0em 0.2em 1em;
    font-size: 0.9em;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
}


/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités *****/

.activites   {
    padding: 30px;
}

.activites-titre h2 {
    font-size: 1.2em;
}

.activites-groupe-card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    justify-content: space-between;
}

.activites-card {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
}

.activites-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.activites-card-img {
    height: 25em;
    margin: 0;
    
}

.activites-card-titre {
    margin: 0;
    border-radius: 0px 0px 20px 20px;
    padding-left: 20px;
    line-height: 59px;
    background-color: white;
}

.activites-card h3{
    margin: 0;
    font-size: 0.9em;
    
}


/****** Footer ******/

footer {
    padding: 1em;
    display: flex;
    gap: 20%;
    background-color: var(--main-bg-color);
}

footer h3 {
    font-size: 0.9em;
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    font-size: 0.8em;
    margin-top: 1em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card-img {
        height: 13em;
        margin: 0;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .main-container {
        padding: 0;
    }

    /****** HEADER ******/

    header {
        height: 115px;
        margin-bottom: 35px;
        font-size: 16px;
    }

    .main-header-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-logo {
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo img {
        width: 61.09px;
        height: 19px;
    }

    .header-nav {
        display: block;
    }

    .header-nav ul {
        gap: 0;
    }

    .header-nav li {
        width: 50%;
        padding: 0 0 17px 0;
        text-align: center;
    }

    .header-nav ul li:hover {
        border-top: 2px solid transparent;
    }

    .header-nav-hebergement {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .header-nav-activites {
        border-bottom: 2px solid var(--main-bg-color);
        color: var(--main-color);
    }

    /****** ARTICLE RECHERCHE *******/

    .article-recherche-main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article-recherche-main-h1 {
        margin: 0 0 8px 0;
        font-size: 22px;
    }

    .article-recherche-main-p {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .section-recherche-button {
        display: none;
    }

    .section-recherche-button-mobile {
        display: block;
        background-color: var(--main-color);
        border: none;
        border-radius: 15px 15px 15px 15px;
        font-size: 17px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .section-recherche-button-mobile span {
        color: white !important;
    }

    .section-filtre-noborder {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .section-filtre-border:hover {
        background-color: #DEEBFF;
    }

    .section-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px 0 30px 0;
    }

    .section-filtre {
        flex-direction: column;
    }

    .section-filtre-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
    }

    /****** HEBERGEMENTS ET POPULAIRES ******/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin: 0;
        border-radius: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-title span {
        font-size: 18px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 18px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements {
        background-color: white;
        border-radius: 0px;
    }

    .section-hebergement-group-card {
        flex-direction: column;
    }

    .section-hebergement-card {
        height: 207px;
    }

    .section-hebergement-card h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 4px 0 8px 10px;
        padding: 0;
    }

    .section-hebergement-card p {
        font-size: 14px;
        margin: 0 0 8px 10px;
        padding: 0;
    }

    .activites {
        padding: 20px;
    }

    .activites-titre h2 {
        margin-top: 30px;
        font-size: 22px;
    }

    .activites-groupe-card {
        flex-direction: column;
    }

    .activites-card {
        height: 200px;
    }

    .activites-card-img {
        height: 141px
    }

    .activites-card h3 {
        font-size: 16px;
        font-weight: 700;
    }

    .activites-card-titre {
        height: 59px;
    }

    footer {
        margin-top: 40px;
        padding: 30px 20px 30px 20px;
        flex-direction: column;
        gap: 45px;
    }

    footer h3{
        font-size: 18px;
        font-weight: 700;
    }

    footer li {
        font-size: 16px;
    }

}